/* Shared Styles */

.structure {
    padding: 55px 190px 100px 190px;
    background-color: rgb(38, 38, 38);
}


.fontfamily {
    font-family: "Inter", sans-serif;
}

#btn-primary {
    background-color: #E6533C;
    padding: 8px 20px;
    border-radius: 39px;
    color: #FFFFFF;
    font-size: 1.12rem;
    margin: 0px;
    border: none;
    cursor: pointer;
}

/* Navbar Styles */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.navbar-title,
.navbar-menu {
    flex: 1;
}

.navbar-title h3 {
    font-size: 2.25rem;
    font-weight: bolder;
    color: #E6533C;
    font-style: italic;
    margin: 0px auto;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    padding: 4px 4px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    justify-content: space-between;
    cursor: pointer;
}

.navbar-menu p {
    color: #FFFFFF;
    font-size: 1.12rem;
    padding: 8px 20px;
    margin: 0px;
}

/* Styles for hamburger menu */
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px auto;
    transition: 0.3s;
}

/* Banner Styles */

.banner {
    display: flex;
    gap: 80px;
}

.banner-title {
    padding: 100px 70px 0px 0px;
}

.banner-title,
.banner-image {
    flex: 1;
}

.banner-title h4 {
    font-size: 3.88rem;
    color: #FFFFFF;
    margin: 0px;
    margin-bottom: 30px;
}

.banner-title p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
}

.download-btn {
    border: 1px solid #FFF;
    padding: 8px 20px;
    border-radius: 39px;
    color: #FFFFFF;
    background-color: rgb(38, 38, 38);
    font-size: 1.12rem;
    margin: 0px;
    cursor: pointer;
}

.shape {
    font-family: "Ms Madi", cursive;
    font-weight: 400;
    font-style: normal;

}

.banner-image img {
    max-width: 100%;
    height: auto;
}

.btn-container1 {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 12px;
    padding: 15px;
    position: relative;
    bottom: 450px;
    left: 240px;
    cursor: pointer;
    max-width: 100%;
}

.btn-container2 {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 12px;
    padding: 20px 23px;
    position: relative;
    right: 230px;
    bottom: 180px;
    cursor: pointer;
    max-width: 100%;
}

.five-hundred {
    font-size: 2.88rem;
    color: #FFFFFF;
    font-weight: bold;

}

.three-fifty {
    font-size: 1.5rem;
    color: #FAFAF9;
    font-weight: bold;
}

.videos {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.65);
}


.hide {
    display: none;
}

/* Responsive Styles */

/* Mobile View */
@media (max-width: 576px) {
    .structure {
        padding: 50px 20px;
    }

    .navbar-menu {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }

    .banner {
        flex-direction: column;
        gap: 20px;
    }

    .banner-title {
        padding: 0px;
    }

    .banner-title h4 {
        font-size: 2.24rem;
        padding: 50px 50px 0px 0px;
    }

    .banner-title p {
        font-size: 1rem;
        padding-right: 50px;
    }

    .app-container {
        padding: 0px;
    }

    .btn-container1 {
        padding: 10px;
        bottom: 420px;
        left: 210px;
    }

    .btn-container2 {
        padding: 10px;
        right: 100px;
        bottom: 150px;
    }

    .five-hundred {
        font-size: 1.9rem;
    }

    .videos {
        font-size: .6rem;
    }

    .three-fifty {
        font-size: 2.25rem;
    }
}

/* Tablet View */

@media screen and (min-width:576px) and (max-width:992px) {
    .structure {
        padding: 55px 80px;
    }
}