/* Shared Styles */

.structure {
    padding: 55px 190px 0px 190px;
    /* background-color: rgb(38, 38, 38); */
    background-color: rgba(17, 17, 17, 1);
}

.structure1 {
    padding: 55px 190px 50px 190px;
    /* background-color: rgb(38, 38, 38); */
    background-color: rgba(17, 17, 17, 1);
}

.fontfamily {
    font-family: "Inter", sans-serif;
}

#btn-primary {
    background-color: #E6533C;
    padding: 8px 20px;
    border-radius: 39px;
    color: #FFFFFF;
    font-size: 1.12rem;
    margin: 0px;
    border: none;
    cursor: pointer;
}

.habit-title h4,
.run-title h4 {
    font-size: 3rem;
    color: #FFFFFF;
    margin: 0px auto 14px;
}

.habit-title p,
.run-title p {
    font-size: 0.88rem;
    color: rgba(255, 255, 255, 0.5);
    margin: 0px auto 50px;
}

/* Navbar Styles */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.navbar-title,
.navbar-menu {
    flex: 1;
}

.navbar-title h3 {
    font-size: 2.25rem;
    font-weight: bolder;
    color: #E6533C;
    font-style: italic;
    margin: 0px auto;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    padding: 4px 4px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    justify-content: space-between;
    cursor: pointer;
}

.navbar-menu p {
    color: #FFFFFF;
    font-size: 1.12rem;
    padding: 8px 20px;
    margin: 0px;
}

/* Styles for hamburger menu */
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px auto;
    transition: 0.3s;
}

/* Banner Styles */

.banner {
    display: flex;
    gap: 80px;
}

.banner-title {
    padding: 100px 70px 0px 0px;
}

.banner-title,
.banner-image {
    flex: 1;
}

.banner-title h4 {
    font-size: 3.88rem;
    color: #FFFFFF;
    margin: 0px;
    margin-bottom: 30px;
}

.banner-title p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
}

.download-btn {
    border: 1px solid #FFF;
    padding: 8px 20px;
    border-radius: 39px;
    color: #FFFFFF;
    background-color: rgb(38, 38, 38);
    font-size: 1.12rem;
    margin: 0px;
    cursor: pointer;
}

.shape {
    font-family: "Ms Madi", cursive;
    font-weight: 400;
    font-style: normal;

}

.banner-image img {
    max-width: 100%;
    height: auto;
}

.btn-container1 {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 12px;
    padding: 15px;
    position: relative;
    bottom: 450px;
    left: 240px;
    cursor: pointer;
    max-width: 100%;
}

.btn-container2 {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 12px;
    padding: 20px 23px;
    position: relative;
    right: 230px;
    bottom: 180px;
    cursor: pointer;
    max-width: 100%;
}

.five-hundred {
    font-size: 2.88rem;
    color: #FFFFFF;
    font-weight: bold;

}

.three-fifty {
    font-size: 1.5rem;
    color: #FAFAF9;
    font-weight: bold;
}

.videos {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.65);
}

.exercise {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.habit-title {
    text-align: center;
    margin: 0px 180px;
}

.habit-image {
    display: flex;
    max-width: 100%;
}

.image {
    padding: 0px 25px;
    text-align: center;
    gap: 30px;
    justify-content: space-around;
}

.image img {
    border-radius: 100px;
    margin-bottom: 30px;
}

.image h5 {
    font-size: 1.24rem;
    font-weight: 600;
    color: #FFFFFF;
    margin: 0px auto 6px;
}

.image p {
    font-size: 0.88rem;
    color: rgba(255, 255, 255, 0.5);
    margin: 0px;
}

/* Run Away Styles */

.run {
    display: flex;
    gap: 60px;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 18px;
}

.run-title,
.run-image {
    flex: 1;
}

.run-title {
    max-width: 100%;
    padding: 40px 54px;
}

.run-title h4 {
    margin-bottom: 30px;
}

.run-title p {
    margin-bottom: 20px;
}

.run-image {
    padding: 30px 54px 30px 0px;
}

.run-image img {
    max-width: 100%;
    height: auto;
    border-radius: 18px;
    /* zoom: 10.5; */
}

/* Training and Exercise Styles */

.training {
    display: flex;
    flex-direction: column;
}

.training-title,
.training-image {
    flex: 1;
}

.training-title {
    padding: 0px 400px 0px 0px;
}

.training-title h3 {
    font-size: 3rem;
    color: #FFFFFF;
    margin: 0px;
}

.training-title p {
    font-size: 0.88rem;
    color: rgba(255, 255, 255, 0.5);
    padding: 14px 0px 58px 0px;
    margin: 0px;
}

.training-image {
    max-width: 100%;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
}

.training-image img {
    width: 100%;
    height: 100%;
}

.first-container {
    display: flex;
    width: 100%;
    height: auto;
    gap: 4px;
    margin-bottom: 4px;
}

.second-container {
    display: flex;
    width: 100%;
    height: auto;
    gap: 4px;
}

.pic1 {
    max-width: 25%;
    height: auto;
}

.pic1 p {
    font-size: 0.88rem;
    font-weight: 600;
    color: #000000;
    position: relative;
    bottom: 40px;
    left: 20px;
}

.pic2 {
    max-width: 43%;
    height: auto;
}

.pic2 p {
    font-size: 0.88rem;
    font-weight: 600;
    color: #FFFFFF;
    position: relative;
    bottom: 250px;
    left: 30px;
}

.pic3 {
    max-width: 30%;
    height: auto;
}

.pic3 p {
    font-size: 0.88rem;
    font-weight: 600;
    color: #000;
    position: relative;
    bottom: 270px;
    left: 20px;
}

.pic4 {
    max-width: 40%;
    height: auto;
}

.pic4 p {
    font-size: 0.88rem;
    font-weight: 600;
    color: #FFF;
    position: relative;
    bottom: 280px;
    left: 200px;
}

.pic5 {
    max-width: 25%;
    height: auto;
}

.pic5 p {
    font-size: 0.88rem;
    font-weight: 600;
    color: #000000;
    position: relative;
    bottom: 60px;
    left: 20px;
}

.pic6 {
    max-width: 33%;
    height: auto;
}

.pic6 p {
    font-size: 0.88rem;
    font-weight: 600;
    color: #000000;
    position: relative;
    bottom: 60px;
    left: 20px;
}

/* BMI Styles */

.bmi-title {
    margin: 0px 300px;
}

.bmi-title h3 {
    font-size: 3rem;
    color: #FFFFFF;
    margin: 0px;
}

.bmi-title p,
.bmi-input p {
    font-size: 0.88rem;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 14px;
}

.bmi-measure {
    padding: 50px 190px;
    display: flex;
    background-color: #222222;
}

.bmi-table,
.bmi-input {
    flex: 1;
}

.bmi-table h3,
.bmi-input h3 {
    font-size: 1.76rem;
    color: #FFFFFF;
    margin: 0px;
}

table {
    border-collapse: collapse;
    margin-top: 50px;
}

table,
th,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 18px 15px;
    text-align: start;
}

th {
    font-size: 1.2rem;
    font-weight: 600;
    color: #FFFFFF;
}

td {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
}

.bmi-input p {
    margin: 14px 0px 34px 0px;
}

.take-input {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    max-width: 48%;
    border-radius: 8px;
    margin: 0px 12px 12px 0px;
    padding: 13px 20px;
}

.moderate {
    width: 100%;
}

.calculate {
    width: 50%;
}

.hide {
    display: none;
}

/* Responsive Styles */

/* Mobile View */
@media (max-width: 576px) {
    .structure {
        padding: 50px 10px;
    }

    .navbar-menu {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }

    .banner {
        flex-direction: column;
        gap: 20px;
    }

    .banner-title {
        padding: 0px;
    }

    .banner-title h4 {
        font-size: 2.24rem;
        padding: 50px 50px 0px 0px;
    }

    .banner-title p {
        font-size: 1rem;
        padding-right: 50px;
    }

    .app-container {
        padding: 0px;
    }

    .btn-container1 {
        padding: 10px;
        bottom: 420px;
        left: 210px;
    }

    .btn-container2 {
        padding: 10px;
        right: 100px;
        bottom: 150px;
    }

    .five-hundred {
        font-size: 1.9rem;
    }

    .videos {
        font-size: .6rem;
    }

    .three-fifty {
        font-size: 2.25rem;
    }

    .habit-title {
        margin: 0px 35px;
    }

    .habit-title h4,
    .run-title h4,
    .training-title h3,
    .bmi-title h3 {
        font-size: 2rem;
    }

    .habit-title p,
    .run-title p,
    .training-title p {
        font-size: 0.88rem;
    }

    .image {
        padding: 0px 50px;
    }

    .habit-image {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .structure1 {
        padding: 0px;
    }

    .run {
        flex-direction: column;
        gap: 0px;
        margin: auto 20px;
    }

    .run-title {
        padding: 33px 31px 0px;
    }

    .run-title h4 {
        margin-bottom: 15px;
    }

    #btn-primary {
        width: 100%;
        margin-bottom: 0px;
    }

    .run-image {
        padding: 31px 33px 35px;
    }

    .training {
        padding: 50px 20px 0px;
    }

    .training-title {
        padding: 0px;
    }

    .training-title p {
        padding-bottom: 35px;
    }

    .first-container,
    .second-container {
        gap: 0px;
        margin-bottom: 0px;
    }

    .pic1,
    .pic2,
    .pic4,
    .pic5 {
        max-width: 49%;
    }

    .pic2 p {
        font-size: 0.76rem;
        bottom: 40px;
        left: 30px;
    }

    .pic4 p,
    .pic5 p {
        font-size: 0.76rem;
        bottom: 50px;
        left: 10px;
    }

    .pic3,
    .pic6,
    .hawa {
        display: none;
    }

    .bmi-title {
        margin: 0px;
        padding: 10px 20px 30px 20px;
    }

    .bmi-title p {
        margin-bottom: 0px;
        color: rgba(255, 255, 255, 0.5);
    }

    .bmi-measure {
        padding: 30px 20px;
        flex-direction: column;
    }

    .bmi-table h3,
    .bmi-input h3 {
        font-size: 1rem;
    }

    table {
        margin-top: 23px;
        margin-bottom: 40px;
    }

    th {
        font-size: 1rem;
        font-weight: 500;
    }

    td {
        font-size: 0.88rem;
    }

    .take-input {
        max-width: 35%;
        margin: 0px 8px 12px 0px;
    }

    #btn-primary {
        width: 51%;
    }
}

/* Tablet View */

@media screen and (min-width:576px) and (max-width:992px) {
    .structure {
        padding: 20px;
    }

    .banner-title {
        padding: 10px;
        padding-top: 120px;
    }

    .banner-title h4 {
        font-size: 3rem;
    }

    .btn-container1 {
        bottom: 350px;
        left: 150px;
    }

    .five-hundred {
        font-size: 2rem;
    }

    .videos {
        font-size: 0.7rem;
    }

    .btn-container2 {
        right: 50px;
        bottom: 240px;
    }

    .habit-title {
        margin: 0px 100px;
    }

    .habit-image {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0px 40px;
    }

    .structure1 {
        padding: 50px 0px;
    }

    .run {
        margin: auto 30px;
        gap: 0px;
    }

    .run-title {
        padding: 46px 30px;
    }

    .run-title h4 {
        font-size: 2.24rem;
        margin-bottom: 15px;
    }

    .run-image {
        padding: 30px 30px 30px 0px;
        align-items: center;
        justify-content: center;
    }

    .run-image img {
        height: auto;
        max-width: 100%;
    }

    .training {
        padding: 0px 30px;
    }

    .training-title {
        padding-right: 300px;
    }

    .pic2 p {
        bottom: 150px;
        left: 30px;
    }

    .pic3 p {
        bottom: 60px;
        left: 50px;
    }

    .pic4 p {
        bottom: 70px;
        left: 30px;
    }

    .bmi-title {
        margin: 0px 120px 0px 29px;
    }
}